/*css*/
*{
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 0.7em;
}

header{
  position: relative;
  background-color: #0324fc;
  font-size: 30px;
  font-family: sans-serif;
  padding: 4px;
  padding-bottom: 20px;
  color: white;
  align-items: right;
  text-indent: 20px;
}


.navBar {
  overflow: hidden;
  background-color: #2e2e2e;
  border-top-style: solid;
  border-color: black;
  border-bottom-style: solid;
}

.navBar a {
  float: left;
  font-size: 18px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navBar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  transition: all 500ms ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2e2e2e;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: red;
  transition: all 500ms ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#LoginHeader{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 2.5%;
}
.encapsule{
  padding: 20px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
  border: 3px solid orange;
  padding: 10px;
  color: #777;
}

.EditorPDFTitle{
  text-align: center;
}

/* formStyles */

.EditorFormContent{
  height: 50%;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 0;
}

#SingleProductTable{
  border-spacing: 1px;
  width: 100%;
}
#SingleProductTable, #SingleProductTable td, #SingleProductTable th{
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-top: none;
  border-left: none;
}

#SingleProductTable th{
  background-color: #EEEEEE
}

#SingleProductTable #RightTableColumn{
 border-right: none;
}

#SingleProductTable input, #SingleProductTable select{
  border: 0px;
}

#SingleProductTable th{
  text-align: left;
}

/* .SingleProduct{
  display: inline;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 0.5vw;
} */

.InputContent{
  margin-left: 12.5%;
  margin-right: 12.5%;
  font-size: 1.5vw;
}

.Inputlist{
  display: block;
}

.InputContent label, .InputContent input, .InputContent select{
  display: block;
  width: 100%;
}

.InputContent input, .InputContent select{
  padding: 5px;
  /* border: 2px solid #ccc; */
  box-sizing: border-box;
}

.EditorFormButton, .LoginFormButton{
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: arial;
  font-weight: lighter;
  text-align: center;
  cursor: pointer;
  color: #2f2f2f;
  background-color: #CDCDCD;
  padding-right: 10px;
  padding-left: 10px;
  border: 0;
  font-size: 2vw;
  margin-top: 10px;
}

.LoginContent{
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.5vw;
}


#Username,#Password{
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 3px solid #ccc;
  box-sizing: border-box;

}

#Username:focus,#Password:focus{
  outline: none !important;
}

#Username{
  margin-bottom: 10px;
}


.LoginFormButton:hover, .EditorFormButton:hover{
  background-color: red;
  color: white;
  font-weight: normal;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.7s;
 }

  .logoutbtn {
    padding: 5px 12px;
    font-size: 12px;
    background-color: lightgrey;
    cursor: pointer;
  }

    .btn:hover {
      color: grey;
  }

  .btn:hover {
    color: grey;
  }

  h6 {
    float: left;
    font-size: 26px;
    margin: 15px;
    width: 100%;
  }
  .userContainerColumn {
  display: flex;
  flex-direction: column;
  float: left;
}

  .userContents {
    padding: 10px;
    border-style: solid;
  }
  label {
    font-size: 20px;
  }
  h5 {
    font-size: 20px;
  }
  .UserAdminPanel {
    left: 40%;
    top: 20%;
    position: fixed;
    padding: 10px;
    border-style: solid;
    margin: 10px;
    background-color: lightgrey;
  }
  .selectButtonLeft {
    width: 50%;
    background-color: #46d446;
    cursor: pointer;
    text-align: center;
    float:left;
    margin:0 auto;
    font-size: 16px;
    margin-top: 8px;
  }
  .selectButtonLeft:hover {
    background-color: #309634;
  }
  .resetButtonRight {
    width: 50%;
    background-color: #e64640;
    cursor: pointer;
    text-align: center;
    float:left;
    margin:0 auto;
    font-size: 16px;
    margin-top: 8px;
  }
  .resetButtonRight:hover {
    background-color: #a6312d;
  }
  .button1 {
    background-color: #46d446;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    border-style: solid;
  }
  .customerTable  {
    border-collapse: collapse;
    margin: 0 auto;
  }
  .customerTable thead {
    border: solid;
    font-weight: bold;
  }
  .customerTable, td {
    border: solid;
  }
  .customerTable td, th  {
    padding: 5px;
  }
  .customerTable tbody tr:nth-child(odd) {
  background: #62BBF5;
}
  .customerTable tbody tr:nth-child(even) {
  background: #F5F5F5;
  }

  .customerAdminPanel {
    padding: 10px;
    border-style: solid;
    margin: 10px;
    background-color: lightgrey;
    display: block;
    max-width: 60%;
    margin: auto;
    margin-top: 20px;
  }

  .customerAdminPanel input {
    width: 100%;
  }

  .customerAdminPanel button {
    background-color: #46d446;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    border-style: solid;
    border-color: black;
  }

  .PDFcontainer{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .PDFcontent {
    background-color: #6b6b6b;
    border: solid;
    border-color: black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 30px;
  }

  .btnPDFedit {
    float: right;
    position: relative;
    size: 45px 45px;
    border: solid;
    color: black;
    border-radius: 8px;
    background-color: ;
    background-color: #b5270b;
    margin: 5px;
    padding: 10px;
    text-align: center;
  }

  .btnPDFview {
    float: right;
    position: relative;
    size: 45px 45px;
    border: solid;
    color: black;
    border-radius: 8px;
    background-color: #0cab36;
    margin: 5px;
    padding: 10px;
    text-align: center;
  }

  .btnPDFview:hover {

  }

  .btnPDFedit:hover {

  }

  .notePdfTitle {
    text-align: center;
    max-width: 100%;
    color: #e0b336;
    font-size: large;
    padding-top: 40px;
  }

  .notePdfRef {
    text-align: center;
    max-width: 100%;
    font-size: large;
    padding: 20px;
  }

  .notePdfOrder {
    text-align: center;
    max-width: 100%;
    font-size: large;
    padding: 10px;
  }

  .notePdfPage {
    text-align: right;
    max-width: 100%;
    font-size: large;
    padding-right: 150px;
    padding-bottom: 10px;
  }

  .addressOrderWrapper {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-column-gap: 30em;
  }

  .notePdfAddressContainer {
    border: solid;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    padding-right: 300px;
    padding-bottom: 65px;
    float: left;
  }

  #notePdfAddress {
    padding: 10px;
    font-size: large;
  }

  .notePdfDetails {
    border: solid;
    border-collapse: collapse;
    border-radius: 10px;
    margin-right: 20px;
    float: right;
  }

  .notePdfDetails td {
    padding: 10px 100px 10px 10px;
  }

  .notePdfItemsContainer {
    display: grid;
    max-width: 95%;
    margin: auto;
    margin-top: 230px;
    border: solid;
    border-radius: 10px;


  }

 .notePdfItems th {
    padding-right: 10px;
  }

  .notePdfItems th:first-child {
    padding-right: 400px;
  }

  .notePdfWarehouseInfoContainer {
    border: solid;
    display: block;
    max-width: 95%;
    margin: auto;
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .notePdfWarehouseInfo {
    margin: auto;
  }

  .notePdfWarehouseInfo td {
    border: none;
    padding: 10px;
    padding-right: 300px;
  }

  .deliveryAddressContactWrapper {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-column-gap: 30em;
  }

  .notePdfDeliveryAddressContainer {
    border: solid;
    padding-right: 300px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 15;
    float: left;
  }

  #notePdfDeliveryAddress {
    padding: 10px;
  }

  .notePdfDeliveryContactContainer {
    border: solid;
    font-size: 15;
    border-radius: 10px;
    padding: 10px;
    padding-right: 400px;
    margin-right: 20px;
    float: right;
  }

  #notePDFContactName {
    color: red;
  }

  .notePdfLine {
    border-top: 3px solid;
    max-width: 90%;
    margin: auto;
    display: block;
    height: 0px;
    margin-top: 170px;
    margin-bottom: 10px;
  }

  .notePdfFrom {
    text-align: center;
    font-size: large;
    padding-bottom: 10px;
  }
