<script type="text/javascript" src="../static/globaljs.js"></script>
{%extends 'index.html'%}
{%block mainBlock%}
<h6>Customers</h6>
<table class="customerTable">
  <thead>
     <td>Customer Name</td>
     <td>Address</td>
     <td>Delivery Address</td>

  </thead>
  {% for row in data %}
  <tr>
  <td>{{row[0]}}</td>
  <td>{{row[1]}}</td>
  <td>{{row[2]}}</td>
  </tr>
  {% endfor %}
</table>
<form id="addCustomer" onsubmit="return addCustomer()">
  <label>Name:<input type = "text" name = "name"><br></label>
  <label>Address:<input type = "text" name = "address"><br></label>
  <label>Delivery Address:<input type = "text" name = "deliveryAddress"><br></label>
  <button type = "submit"> Add New Customer </button>
</form>
<span id='txt'></span>
{%endblock%}
