<script type="text/javascript" src="../static/globaljs.js"></script>
{%extends 'index.html'%}
{%block mainBlock%}
<h6>Customers</h6>
<table class="customerTable">
  <thead>
     <td>Customer Name</td>
     <td>Address</td>
     <td>Delivery Address</td>

  </thead>
  {% for row in data %}
  <tr>
  <td>{{row[0]}}</td>
  <td>{{row[1]}}</td>
  <td>{{row[2]}}</td>
  </tr>
  {% endfor %}
</table>
<div class="customerAdminPanel">
  <form id="addCustomer" onsubmit="return addCustomer()">
    <label>Name:<input type = "text" name = "customerName"><br></label>
    <label>Address:<input type = "text" name = "address"><br></label>
    <label>Delivery Address:<input type = "text" name = "deliveryAddress"><br></label>
    <button type = "submit"> Add New Customer </button>
  </form> <br>

  <form id="delCustomer" onsubmit="return delCustomer()">
    <label>Name:<input type = "text" name = "name"><br></label>
    <button type = "submit"> Remove Customer </button>
  </form>
</div>

<span id='txt'></span>
{%endblock%}
