<script type="text/javascript" src="../static/globaljs.js"></script>
{%extends 'index.html'%}


{%block mainBlock%}

<head>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<h2>Input Data</h2>


<div class="encapsule">
  <main class="InputContent">
    <form id='EditorForm' action="/Login" method="post"">

      <label for="OrderNumber">Order Number</label>
      <input id = "OrderNumber" type = "text" name = "ordernumber" required placeholder="Enter The Order Number">


      <button class="EditorFormButton" type = "submit" > Submit </button>

    </form>
  </main>

</div>


<p> result of operation : {{ msg }} </p>
{%endblock%}
