<script type="text/javascript" src="../static/globaljs.js"></script>
<link href="{{ url_for('static', filename='styles.css',  _external=True) }}" rel="stylesheet" >

<h1 class="notePdfTitle">AERONA CLINICAL LIMITED <br><br>PACKING/DELIVERY NOTE</h1>

<h1 class="notePdfRef">REF: <h1 id="notePdfCustomerName"></h1></h1>

<h1 class="notePdfOrder">ORDER: <h1 id="notePdfOrderNumber"></h1></h1>

<h1 class="notePdfPage">Page: <h1 id="notePdfPageNo"></h1></h1>

<div class="addressOrderWrapper">
  <div class="notePdfAddressContainer">
    <p id="notePdfAddress">
      Address line 1 <br>
      Address line 2 <br>
      Address line 3 <br>
      Address line 4
    </p>
  </div>

  <table class="notePdfDetails">
    <tr>
      <td>Order No</td>
      <td id="notePdfOrderNumber">1234</td>
    </tr>
    <tr>
      <td>Date:</td>
      <td id="notePdfDate">12/13/45</td>
    </tr>
    <tr>
      <td>Our Account Ref</td>
      <td id="notePdfCustomerName">Healthcare Pharm</td>
    </tr>
    <tr>
      <td>A/C Cod</td>
      <td id="notePdfCustomerName">Healthcare Pharm</td>
    </tr>
    <tr>
      <td>Consignment No</td>
      <td id="notePdfConsignmentNumber">DHL</td>
    </tr>
  </table>
</div>

<div class="notePdfItemsContainer">
  <table class="notePdfItems">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Batch No</th>
      <th>Expiry Date</th>
      <th>Temp</th>
      <th>Origin</th>
    </tr>
    <!-- Some sort of Jinja table here? -->
  </table>
</div>

<div class="notePdfWarehouseInfoContainer">
  <table class="notePdfWarehouseInfo">
    <tr>
      <td>No of Pallets: <p id="notePdfPallets"></p></td>
      <td>Total Weight: </td>
      <td>Dimension:</td>
    </tr>
    <tr>
      <td>Transport Company: <p id="notePdfConsignmentNumber"></p></td>
      <td></td>
      <td>Date: <p id="notePdfDate"></p></td>
    </tr>
  </table>
</div>

<div class="deliveryAddressContactWrapper">
  <div class="notePdfDeliveryAddressContainer">
    <p id="notePdfDeliveryAddress">
      <b>Delivery Address:</b>
      Address line 1 <br>
      Address line 2 <br>
      Address line 3 <br>
      Address line 4
    </p>
  </div>

  <div class="notePdfDeliveryContactContainer">
    <p><b>Delivery Contact</b></p>
    <br>
    <br>
    <br>
    <br>
    <p id="notePDFContactName">Zoran Dimitrov, <br>+389 (0) 71 443 740 </p>
  </div>
</div>
<div class="notePdfLine"></div>

<p class="notePdfFrom">From: Aerona Clinical Limited , Exeter Science Park, 6 Babbage Way, Clyst Honiton, Exeter EX5 2FN Ph: 020 8 7980623</p>
