<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header>Aerona clinical
      <div class="navBar">
        <a>Home</a>
        <a>PDF editor</a>
        <div class="dropdown">
        <button class="dropbtn">Edit</button>
          <div class="dropdown-content">
            <a href="#">Users Page</a>
            <a href="#">Products Page</a>
            <a href="#">Customers Page</a>
            <a href="#">Suppliers Page</a>
          </div>
        </div>
    </header>
    <article>
      {% block mainBlock%}Page under construction. {%endblock%}
    </article>
  </body>
</html>
