<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link href="../static/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../static/globaljs.js"></script>
  </head>

  <body>
    <header>Aerona clinical
      <div style="float: right; margin-right: 20px;"><button class="header_logout">Logout</button></div>
    </header>

    <div class="navBar">
      <a href="http://127.0.0.1:5000/Index">Home</a>
      <a href="http://127.0.0.1:5000/SelectPDF">PDF editor</a>
      <div class="dropdown">
      <button class="dropbtn">Edit</button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:5000/Users">Users Page</a>
          <a href="http://127.0.0.1:5000/Products">Products Page</a>
          <a href="http://127.0.0.1:5000/Customers">Customers Page</a>
          <a href="http://127.0.0.1:5000/Suppliers">Suppliers Page</a>
        </div>
      </div>
    </div>
      <article>
        {% block mainBlock%}Page under construction. {%endblock%}
      </article>
  </body>
</html>
