<script type="text/javascript" src="../static/globaljs.js"></script>
{%extends 'index.html'%}

{%block mainBlock%}

<head>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<h2 id="LoginHeader">Login</h2>
<div class="encapsule">
  <main class="LoginContent">
    <form id='LoginForm' action="/Login" method="post">

      <label for="Username"  >User name</label>
      <input id = "Username" type = "text" name = "username" required autofocus autocomplete="on" placeholder="Enter Your Username">

      <label for="Password">Password</label>
      <input id = "Password" type = "password" name = "password" required autocomplete="on" placeholder="Enter Your Password">

      <button class="LoginFormButton" type = "submit" > Submit </button>

    </form>
  </main>

</div>

<p> result of operation : {{ msg }} </p>
{%endblock%}
