{%extends 'index.html'%}
{%block mainBlock%}
<script type="text/javascript" src="../static/globaljs.js"></script>

<h2>Products page</h2>
<section id = "productinfo">
  <table class="customerTable">
    <thead>
       <td>Product ID</td>
       <td>Product Name</td>
       <td>Storage Temperature</td>
       <td>Country of origin</td>

    </thead>
    {% for row in data %}
    <tr>
    <td>{{row[0]}}</td>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
    <td>{{row[3]}}</td>
    </tr>
    {% endfor %}
  </table>
</section>
<div class="customerAdminPanel">
  <form id="addProduct" onsubmit="return addProduct()">
    <label>Product name:<input type = "text" name = "productName"><br></label>
    <label>Storage temperature:<input type = "text" name = "productTemp"><br></label>
    <label>Country of origin<input type = "text" name = "countryOO"><br></label>
    <button type = "submit"> Add New Product </button>
  </form> <br>

  <form id="delCustomer" onsubmit="return delCustomer()">
    <label>ID:<input type = "text" name = "productID"><br></label>
    <button type = "submit"> Remove Product </button>
  </form>


{%endblock%}
