<script type="text/javascript" src="../static/globaljs.js"></script>
{%extends 'index.html'%}


{%block mainBlock%}
<h2>Select PDF</h2>
<p>Page under construction</p>
{%if msg%}
{{ msg }}
{%endif%}

<div class="PDFcontainer">
  {% for PDF in pdfNames %}
  <div class="PDFcontent">{{PDF}}
    <button class="btnPDFedit">Edit</button>
    <button class="btnPDFcopy">Copy</button>
  </div><br>
  {% endfor %}
</div>
<div class="PDFredirect">
  <button onclick="location.href = 'http://127.0.0.1:5000/EditorPDF';">New PDF</button>
</div>

{%endblock%}
