{%extends 'index.html'%}
{%block mainBlock%}
<h6>Users</h6>
<div class="userContainerColumn">
  {% for user in usernames %}
  <div class="userContents">
    <h5>Username : {{user}}</h5>
  </div><br>
  {% endfor %}
</div>

<div class="userContainerColumn">
  {% for role in roles %}
  <div class="userContents">
    <h5>Role : {{role}}</h5>
  </div><br>
  {% endfor %}
</div>

<div class="UserAdminPanel">
  <form name="selectUser">
    <label for="selectedUser">Select User: </label>
    <input type="text" id="selectedUser" name="selectedUser" placeholder="enter a username">
    <div>
      <div class="selectButtonLeft" onclick="validateSelectUser()">Select</div>
      <div class="resetButtonRight">Reset</div>
    </div>
  </form>
</div>

<div class="UserAdminPanel" style="top: 40%;">
  <form name="changeDetails">
    <label for="RoleChange">Admin? : </label>
    <input type="checkbox" id="RoleChange" name="RoleChange" value="Admin"><br>
    <label for="newPassword"> Change Password: </label>
    <input type="text" id="newPassword" name="newPassword" placeholder="enter new password"><br>
    <label for="Delete">Delete User? : </label>
    <input type="checkbox" id="Delete" name="Delete" value="Delete"><br>
    <label for="confirmation">Confirm changes? : </label>
    <input type="checkbox" id="confirmation" name="confirmation" value="confirm">
  </form>
  <div class="button1">Submit changes</div>
</div>
<div class="UserAdminPanel" style="top: 70%;">
  <form name="createNewUser">
    <label for="newUsername">Username : </label>
    <input type="textbox" id="newUsername" name="newUsername"><br>
    <label for="newPassword">Password: </label>
    <input type="text" id="newPassword" name="newPassword" placeholder="enter new password"><br>
    <label for="RoleChange">Admin? : </label>
    <input type="checkbox" id="RoleGiven" name="RoleGiven" value="Admin"><br>
  </form>
  <div class="button1" onclick="validateNewUser()">Create User</div>
</div>
{%endblock%}
