{%extends 'index.html'%}
{%block mainBlock%}
<h6>Users</h6>
<div class="userContainerColumn">
  {% for user in usernames %}
  <div class="userContents">
    <h5>Username : {{user}}</h5>
  </div><br>
  {% endfor %}
</div>

<div class="userContainerColumn">
  {% for role in roles %}
  <div class="userContents">
    <h5>Role : {{role}}</h5>
  </div><br>
  {% endfor %}
</div>

<div class="UserAdminPanel" style="top: 20%;">
  <form name="changeDetails" id="changeDetails" onsubmit="return updateUserPassword()">
    <label for="selectedUser">Select User: </label>
    <input type="text" id="selectedUser" name="selectedUser" placeholder="enter a username"><br>
    <label for="newPassword2"> Change Password: </label>
    <input type="text" id="newPassword2" name="newPassword2" placeholder="enter new password"><br>
    <label for="confirmation">Confirm changes? : </label>
    <input type="checkbox" id="confirmation" name="confirmation" value="confirm">
    <button class="selectButtonLeft">Submit changes</button>
  </form>
</div>
<div class="UserAdminPanel" style="top: 43%;">
  <form name="changeDetails" onsubmit="updateUserRole()">
    <label for="selectedUser2">Select User: </label>
    <input type="text" id="selectedUser2" name="selectedUser2" placeholder="enter a username"><br>
    <label for="Admin">Admin : </label>
    <input type="checkbox" id="Admin" name="Admin" value="Admin"><br>
    <button class="selectButtonLeft">Submit changes</button>
  </form>
</div>
<div class="UserAdminPanel" style="top: 62%;">
  <form name="createNewUser" onsubmit="validateNewUser()">
    <label for="newFirstname"> FirstName : </label>
    <input type="textbox" id="newFirstname" name="newFirstname"><br>
    <label for="newSurname"> Surname : </label>
    <input type="textbox" id="newSurname" name="newSurname"><br>
    <label for="newUsername">Username : </label>
    <input type="textbox" id="newUsername" name="newUsername"><br>
    <label for="newPassword">Password: </label>
    <input type="password" id="newPassword" name="newPassword" placeholder="enter new password"><br>
    <label for="RoleGiven">Admin? : </label>
    <input type="checkbox" id="RoleGiven" name="RoleGiven" value="Admin"><br>
    <button type="submit" class="selectButtonLeft">Create User<button/>
  </form>
</div>

<p id='txt'></p>
{%endblock%}
